<!DOCTYPE html>
<html>
<head>
  <title>RubyBursaHomeworks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="margin:40px 3px 250px 40px">

<%= yield %>

</body>
</html>
